*{
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  align-items: center;
  justify-content: center;
    margin: 0%;
    padding: 0%;
    font-family: "Nunito", sans-serif;
}
.head{
    width: 100%;
    background-color: #3c75df;
    text-align: center;
    padding:2% 0% 2% 0% ;
}

.head>a{
    text-decoration: none;
    color: black;
}

h1{
    margin: 0%;
    padding: 1% 0% 1% 0%;
  /* font-family: "Bangers", cursive; */
  font-family: "Berkshire Swash", cursive;
  color: white;
}
.navbar{
    background-color: #3c75df;
    width: 100%;
    text-align: center;
    padding: 1%;
    position: sticky;
    top: 0;
}
.bnav > a{
    padding: 1%;
    text-decoration: none;
  color: white;
    
}
.bnav>a:hover{
    background-color: #324cda;
    transform: 0.5s ease;
}

/*Text anime library*/


.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}


/*  */

.con-card{
  background-image: url("../logo-images/Abract01.png");
  background-repeat: no-repeat ;
  background-position: right;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  display: flex;
  padding: auto;
  height: 90vh;
  margin: 0;
}

.con-card>div{
  margin: auto;
}

.con-card >div >.card{
  height: 215px;
  width: 32vh; 
  text-align: center;
  border: 2px solid #3c75df;
  padding: 20px 15px;
  color: white;
  box-shadow : 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.con-card> div> .card:hover{
height: 420px;
color: black;
background-color: white;
}

.con-card >div >.card .img{
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgb(0,0,0,0.2);
}

.card img{
  height: 200px;
  width: 200px;
  border-radius: 4px;
}

.con-card >div> .card .content{
  margin-top: -140px;
  /* padding:10px 15px; */
  visibility: hidden; 
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.con-card> div> .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -1px;
    transition-delay: 0.3s ;
}

.content .btnbook{
  border: 1px solid #4191db;
  padding: 7px 12px 7px 12px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.content .btnbook:hover{
  border: 2px solid white;
  background-color: #4191db;
  color: white;
  padding: 10px 15px 10px 15px;
}

.content p > b{
  color: #1e6fbb;
}

.list{
  height: 80vh;
  background-image: url("../logo-images/Abract02.png");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  padding: auto;
}

.list .loading-img{
  margin: auto;

}

.notice{
  font-size: 1.2em; 
  width: 65%; 
  text-align: center;
  padding: 40px;
  margin: auto;
  background-color:rgba(241, 245, 250, 0.842); 
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  height: 60vh;
}
.notice>img{
  width: 200px;
  height: 200px;
}
.semester{
  width: 45%; 
  text-align: center;
  padding: 40px;
  margin: 7% 3% auto 3%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  height: 60vh;
}

.semester-syl{
  width: 45%; 
  text-align: center;
  padding: 40px;
  margin: auto;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  height: 60vh;
}

.semester .scroll{
  width:100%;
  height: 42vh ;
  overflow: scroll;
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5ca7;
}

.semester ul{
  list-style-type: none;
}
.semester h2{
  width: 140px;
   border-bottom: 2px solid black;
   color: white;
}


.semester ul li{
  padding: 2%;
  margin: 2%;
}

.scroll li:hover{
  background-color:#3c75df;
  transition: 0.2s ease;
}

.scroll li b >a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.scroll li:hover b >a{
  color: white;
}
/*  PLACEMENT PAGE */

.placement-header{
  height: auto;
  background-color: #3c75df;
  display: flex;
}
.placement-header>div{
  width: 47%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-left:3%;
  /* border: 1px solid black; */
}

.placement-header>div>h1{
  margin: 0%;
}
.placement-header>div>img{
  width: 90%;
  height: 600px;
}

.ml15 {
  font-weight: 800;
  font-size: 3.9em;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
}

.bca-mca{
  margin: 2% 0% 0% 7%;
}
.bca-mca a{
  padding: 1%;
  font-size: 1.5em;
  text-decoration: none;
  color: #06125a;
}
#bcalink{
  text-decoration: underline #324cda;

}
.bca-mca a:hover{
  text-decoration: underline #324cda;

}

.bca-section{
  display: flex;
  margin: 2% 4%;

}


.bca-section>div{
  width: 45%;
  /* border: 1px solid black; */
  margin: auto;
}

.bca-section>div>.h{
  font-size: 1.5em;
}
.bca-section>div>p{
  font-size: 18px;
}

.card-container{
  display: flex;
  margin: 0%;
  padding:0%;
}


.bca-card{
  cursor: pointer;
  width: 55%;
  margin:  4% 0%;
  /* border: 1px solid black; */
  border-radius: 8px;
  box-shadow : 0 15px 20px rgba(0, 0, 0, 0.2);
height: 250px;
  padding: 20px;
}

.card-container a{
  text-decoration: none;
  color: black;
}

.bca-card:hover{
background-color: #3c75df;
color: white;
transition: 0.5s ease;
}

.bca-card>img{
padding:5px ;
background-color: #3c75df;
/* border: 1px solid black; */
border-radius:50% ;
height: 40px;
width: 40px;
}

.bca-card:hover>img{
  background-color: white;
  transition: 0.5s ease;
}

.job{
  margin: 2% 8% 2% 5% ;
  box-shadow : 0 15px 20px rgba(0, 0, 0, 0.2);
padding: 3%;
  font-size: 18px;
}

.job-head{
  color: #06125a;
  font-size: 1.5em;
  text-decoration: underline;
}
.logo-svg{
  border-radius:50% ;
height: 40px;
width: 40px;
}

table{
  width: 80%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
th{
    border: 1px solid black;
    padding: 1%;
}
td{
  border: 1px solid black;
  padding: 1%;
}
/*  */

.footer{
    height: 490px;
    background-color: #e75858;
    margin: 0% 1% 0% 1%;
    text-align: center;
    color: white;
  }

  
  .footer-heading{
    font-size: 40px;
    padding-top:2%;
    
  }
  
  /* .footer-content{
    font-family: "Nunito", sans-serif;
  
  } */
  
  .contect-us{
    font-size: 25px;
  }
  
  .contect-us > input{
    width: 30%;
    height: 50px;
    border: none;
    font-size: 18px;
  
  }
  
  
  .btnform{
    height: 50px;
    padding: 0px 14px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: white;
  
  }
  
  .fa-1x{
    color: rgb(182, 179, 179);
  }
  
  .fa-1x:hover{
    color: #e75858;
  }
  
  .last{
    margin: 0% 10%;
    padding: auto;
    text-align: left;
    display:flex;
  }
  
  
  .last>div{
    margin: auto;
  }
  
  .giticon{
    color: white;
  }
  
  #contect-us-email{
    display: none;
  }

  
@media (max-width: 782px) {
  .bnav > a {
      padding-right:0.9px;
      font-size: 1em;
      } 
      .navbar{
      padding: 3%;
      justify-content:inherit;
      }
      .con-card{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 15%;

      }
      .con-card >div >.card{
        margin-top:29% ;
        margin-bottom: 10%;
      }
      .notice{
        font-size: 1.2em; 
        width: 90%; 
        height: auto;
        background-color:rgba(241, 245, 250, 0.842); 

      }
      .list{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 10%;
      }
      .semester{
        width: 80%; 
        padding: 40px;
        margin: auto;
        height: 50vh;
        margin-top:5% ;
      }
      .semester h2{
        color: black;
      }
      .semester .scroll{
        height: 35vh;
      }
      .placement-header{
        display: flex;
        flex-direction: column;
      }
      .placement-header>div{
        width: 100%;
        margin: 0%;
        text-align: left;
        justify-content:left;
        align-items:baseline;
      }
      .ml15 {
        font-weight: 800;
        font-size: 1.9em;
        /* text-transform: uppercase; */
        letter-spacing: 0.1em;
      }
      .placement-header>div>img{
        width: 70%;
        margin: 10%;
        height: auto;
      }
      .bca-mca a{
        padding: 2%;
        font-size: 1.2em;
      }
      .bca-section{
        display: flex;
        flex-direction: column;
        margin: 0%;
      
      }
      .bca-section>div{
        width: 100%;
        /* border: 1px solid black; */
        margin: 0% 4%;
      }
      .bca-card{
        cursor: pointer;
        width: 50%;
        margin: 2%;
        height: auto;
        padding: 20px;
      }
      .job{
        margin: 5% ;
        padding: 3%;
        font-size: 18px;
      }
      table{
        width: 100%;
      }
      .footer{
        margin: 0%;
        height: auto;
      }
      .footer-heading{
        font-size: 32px;
        padding-top:2%;
      }
      .contect-us > input{
        width: 70%;
      }
      .last{
        text-align: center;
        display:flex;
        flex-direction: column;
      }
      .footer>h3{
        padding: 4%;
      }
}

  @media (max-width: 430px) {
      .bnav > a {
      padding-right:0.9px;
      font-size: 1em;
      } 
      .navbar{
      padding: 3%;
      justify-content:inherit;
      }
      .con-card{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 27%;
      }
      .con-card >div >.card{
        /* width:70% ; */
        margin-top:29% ;
        margin-bottom: 10%;
      }
      .list{
        display: flex;
        flex-direction: column;
        height: auto;
      }
      .notice{
        font-size: 1.2em; 
        width: 90%;
        background-color:rgba(241, 245, 250, 0.842); 
        height: auto;
      }
      
      .semester{
          background-color:rgba(241, 245, 250, 0.842); 
        width: 90%; 
        padding: 40px;
        margin: 7% 3% auto 3%;
        height: auto;
      }
      .semester h2{
        color: black;
      }
      .semester .scroll{
        height: 35vh;
      }
      .semester ul li{
        padding: 2%;
        margin: 2%;
        margin-bottom: 7%;
      }
      .placement-header{
        display: flex;
        flex-direction: column;
      }
      .placement-header>div{
        width: 100%;
        margin: 0%;
        text-align: left;
        justify-content:left;
        align-items:baseline;
      }
      .ml15 {
        font-weight: 800;
        font-size: 1.9em;
        /* text-transform: uppercase; */
        letter-spacing: 0.1em;
      }
      .placement-header>div>img{
        width: 70%;
        margin: 10%;
        height: auto;
      }
      .bca-mca a{
        padding: 2%;
        font-size: 1.2em;
      }
      .bca-section{
        display: flex;
        flex-direction: column;
        margin: 0%;
      
      }
      .bca-section>div{
        width: 100%;
        /* border: 1px solid black; */
        margin: 0% 4%;
      }
      .bca-card{
        cursor: pointer;
        width: 90%;
        margin: 2%;
        height: auto;
        padding: 20px;
      }
      .job{
        margin: 5% ;
        padding: 3%;
        font-size: 18px;
      }
      table{
        width: 100%;
      }
      .footer{
        margin: 0%;
        height: auto;
      }
      .footer-heading{
        font-size: 32px;
        padding-top:2%;
      }
      .contect-us > input{
        width: 70%;
      }
      .last{
        text-align: center;
        display:flex;
        flex-direction: column;
      }
      .footer>h3{
        padding: 4%;
      }
  } 

@media (max-width: 365px) {
  .bnav > a {
    padding-right:0.9px;
    font-size: 0.8em;
    }
}
@media screen and (orientation:landscape) {
  .con-card >div >.card{
    width:85% ; 
  }
  .semester{
    background-color:rgba(241, 245, 250, 0.842); 
  width: 90%; 
  padding: 40px;
  margin: 7% 3% auto 3%;
  height: auto;
}
}
@media screen and (device-aspect-ratio: 40/71) {
  .con-card >div >.card{
    width:80% ;
    margin-left: 10%;
  }
}
@media screen and (device-aspect-ratio: 375/667) {
  .con-card >div >.card{
    width:70% ;
    margin-left: 15%;
  }
}