*{
    box-sizing: border-box;
}
body{
  align-items: center;
  justify-content: center;
    margin: 0%;
    padding: 0%;
    font-family: "Nunito", sans-serif;
}
.head{
    width: 100%;
    background-color: #3c75df;
    text-align: center;
    padding:2% 0% 2% 0% ;
}

.head>a{
    text-decoration: none;
    color: black;
}

h1{
    margin: 0%;
    padding: 1% 0% 1% 0%;
  /* font-family: "Bangers", cursive; */
  font-family: "Berkshire Swash", cursive;
  color: white;
}
.navbar{
    background-color: #3c75df;
    width: 100%;
    text-align: center;
    padding: 1%;
    position: sticky;
    top: 0;
}
.bnav > a{
    padding: 1%;
    text-decoration: none;
  color: white;
    
}
.bnav>a:hover{
    background-color: #324cda;
    transform: 0.5s ease;
}



.con-card{
  background-image: url("../logo-images/Abract01.png");
  background-repeat: no-repeat ;
  background-position: right;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  display: flex;
  padding: auto;
  height: 90vh;
  margin: 0;
}

.con-card .card{
  margin: auto;
  /* margin-top:15% ; */
  height: 215px;
  width: 32vh; 
  text-align: center;
  /* display: flex;
  flex-direction: column  ; */
  border: 2px solid #3c75df;
  /* background: #ebf1f7; */
  padding: 20px 15px;
  color: white;
  box-shadow : 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.con-card .card:hover{
height: 420px;
color: black;
background-color: white;
}

.con-card .card .img{
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgb(0,0,0,0.2);
}

.card img{
  height: 200px;
  width: 200px;
  border-radius: 4px;
}

.con-card .card .content{
  margin-top: -140px;
  /* padding:10px 15px; */
  visibility: hidden; 
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.con-card .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -1px;
    transition-delay: 0.3s ;
}

.content .btnbook{
  border: 1px solid #4191db;
  padding: 7px 12px 7px 12px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.content .btnbook:hover{
  border: 2px solid white;
  background-color: #4191db;
  color: white;
  padding: 10px 15px 10px 15px;
}


.list{
  height: 80vh;
  background-image: url("../logo-images/Abract02.png");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  padding: auto;
}

.list .loading-img{
  margin: auto;

}

.semester{
  width: 45%; 
  text-align: center;
  padding: 40px;
  margin: 7% 3% auto 3%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  height: 60vh;
}



.semester .scroll{
  width:100%;
  height: 42vh ;
  overflow: scroll;
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5ca7;
}

.semester ul{
  list-style-type: none;
}
.semester h2{
  width: 140px;
   border-bottom: 2px solid black;
   color: white;
}


.semester ul li{
  padding: 2%;
  margin: 2%;
 
}

li:hover{
  background-color:#3c75df;
}

li b >a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li:hover b >a{
  color: white;
}
.footer{
    height: 490px;
    background-color: #e75858;
    margin: 0% 1% 0% 1%;
    text-align: center;
    color: white;
  }

  
  .footer-heading{
    font-size: 40px;
    padding-top:2%;
    
  }
  
  /* .footer-content{
    font-family: "Nunito", sans-serif;
  
  } */
  
  .contect-us{
    font-size: 25px;
  }
  
  .contect-us > input{
    width: 30%;
    height: 50px;
    border: none;
    font-size: 18px;
  
  }
  
  
  .btnform{
    height: 50px;
    padding: 0px 14px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: white;
  
  }
  
  .fa-1x{
    color: rgb(182, 179, 179);
  }
  
  .fa-1x:hover{
    color: #e75858;
  }
  
  .last{
    margin: 0% 10%;
    padding: auto;
    text-align: left;
    display:flex;
  }
  
  
  .last>div{
    margin: auto;
  }
  
  .giticon{
    color: white;
  }
  
  #contect-us-email{
    display: none;
  }