* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0%;
  padding: 0%;
  font-family: "Nunito", sans-serif;
}

.hadder {
  border: 1px solid #e6e1c1;
  background-color: #e6e1c1;
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5ca7;
}


.nav {
  z-index: 999;
  margin: 0%;
  text-align: center;
  background-color: #e6e1c1;
  /* border-top: #e6e1c1; */
  padding: 1%;
  width: 100%;
  position: sticky;
  top: 0;
}
#nav-heading {
  float: left;
  display: none;
  font-size: 190%;
  font-family: "Berkshire Swash", cursive;
}

i.fa-bars {
  opacity: 0;
  float: right;
}

#gif {
  width: 200px;
  height: 200px;
}

h1,h2 {
  margin: 0%;
  padding-top: 1%;
  /* font-family: "Bangers", cursive; */
  font-family: "Berkshire Swash", cursive;
}

/*Text anime library*/


.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}


/*  */

.nav b > a {
  text-decoration: none;
  color: black;
  padding: 1%;
  background-color: #e6e1c1;
  cursor: pointer;
}

.nav b > a:hover {
  background-color: burlywood;
  transition: 0.5s ease;
}

.info {
  font-size: 18px;
  margin: 4% 10% 0% 9%;
  text-align: justify;
}

.text {
  display: flex;
}

.text>img {
  padding: 4% 0% 0% 15%;
  width: 40%;
  /* position: fixed; */
}

.qots {
  margin: 2% 1% 0% 1%;
  padding: auto;
  height: 70vmin;
  background-color: #5085b6;
  display: flex;
}

.qots > div {
  text-align: center;
  background-color: whitesmoke;
  margin: auto;
  padding: 0.5%;
  height: 400px;
  width: 19%;
  display: flex;
  flex-direction: column;
}

.Explore {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.Explore:hover {
  color: #4191db;
}

i.fa-5x {
  font-family: "Font Awesome 5 Free";
  /* color: lightsteelblue; */
  /* font-weight: 900; */
  color: #4191db;
  padding-top: 10%;
  padding-left: 1%;
}

.bold {
  color: #4191db;
}

.slide {
  height: 500px;
  text-align: center;
}

.slider-heading{
  text-decoration: underline;
  text-shadow: 0 11px 15px #585858;
}

.slider {
  display: flex;
  text-align: center;
}

.btn {
  border: none;
  cursor: pointer;
}

.slider > img {
  margin: auto;
}

.slider > button {
  background-color: white;
  margin: auto;
}

.img-slide {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.fa-2x {
  color: #91adbb;
}

.footer{
  height: 490px;
  background-color: #e75858;
  margin: 0% 1% 0% 1%;
  text-align: center;
  color: white;
}
 
.fa-2x:hover{
  color:#4191db;
  transition: 1s ease;
}

.footer-heading{
  font-size: 40px;
  padding-top:2%;
  
}

/* .footer-content{
  font-family: "Nunito", sans-serif;

} */

.contect-us{
  font-size: 25px;
}

.contect-us > input{
  width: 30%;
  height: 50px;
  border: none;
  font-size: 18px;

}


.btnform{
  height: 50px;
  padding: 0px 14px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  background-color: white;

}

.fa-1x{
  color: rgb(182, 179, 179);
}

.fa-1x:hover{
  color: #e75858;
}

.last{
  margin: 0% 10%;
  padding: auto;
  text-align: left;
  display:flex;
}


.last>div{
  margin: auto;
}

.giticon{
  color: white;
}

#contect-us-email{
  display: none;
}

@media (max-width: 782px) {
  #gif {
    width: 175px;
    height: 175px;
  }
.nav{
  padding: 2%;
}
    .text {
      margin: 0%;
      padding: 0%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .text>img {
      margin:5%;
      margin-left: 10%;
      width: 69%;
    }
    .info {
      margin: 4%;
    }
    .qots {
      margin:0% ;
      margin-top: 10%;
      padding: auto;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .qots > div {
      margin: 9% auto;
      padding: 3%;
      width: 40%;
    }
    .slider-heading{
      font-size: 29px;
    }
    .img-slide {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
    .slide {
      height: 450px;
    }
    .footer{
      margin: 0%;
      height: auto;
    }
    .footer-heading{
      font-size: 35px;
      padding-top:2%;
    }
    .contect-us > input{
      width: 70%;
    }
    .last{
      text-align: center;
      display:flex;
      flex-direction: column;
    }
    .footer>h3{
      padding: 4%;
    }
    
} 

@media (max-width: 430px) {
  #gif {
    width: 150px;
    height: 150px;
  }
  .nav b > a {
    padding-right:0.9px;
    font-size: 1em;
  } 
  .nav{
  padding: 3%;
  justify-content:inherit;
  }
    .text {
      margin: 0%;
      padding: 0%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .text>img {
      padding: 0% ;
      width: 75%;
    }
    .info {
      margin: 5%;
      /* text-align: center; */
    }
    .qots {
      margin:0% ;
      margin-top: 10%;
      padding: auto;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .qots > div {
      margin: 9% auto;
      padding: 3%;
      width: 70%;
    }
    .slider-heading{
      font-size: 25px;
    }
    .img-slide {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
    .slide {
      height: 450px;
    }
    .footer{
      margin: 0%;
      height: auto;
    }
    .footer-heading{
      font-size: 32px;
      padding-top:2%;
    }
    .contect-us > input{
      width: 70%;
    }
    .last{
      text-align: center;
      display:flex;
      flex-direction: column;
    }
    .footer>h3{
      padding: 4%;
    }
} 
@media (max-width: 365px) {
  .nav b > a {
    padding-right:0.9px;
    font-size: 0.8em;
    
  }
}